.container
	.row
		.col-xs-12
			a(href='/' style='display: inline-block; height: 44px; margin: 0 0 -6px 15px; overflow: hidden;')
				img(src='/img/logo.png' height='48px' style='vertical-align: text-top;')
			.panel.panel-default
				.panel-body
					form(ng-submit='execute()')
						.form-group
							textarea.form-control(rows='12' placeholder='Source' ng-model='source')

						.form-group
							textarea.form-control(rows='2' placeholder='Input' ng-model='input')

						.row
							.col-xs-4
								.form-group(style='margin: 0;')
									select.form-control(ng-model='stack' ng-options='lang.stack as lang.label for lang in languages')

							.col-xs-8.text-right
								button.btn.btn-primary(type='submit') Execute
